.boTTom {
    
  margin: 0;
height: auto;
    width: 100%;
   
    
}

.foNt{
    font-family: 'Montserrat', sans-serif;
}

.iCons{
    width: 20%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
